.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
    color: #0072b2;
    font-weight: bold;
}
.md-header {
    background-color: #0072b2;
}

/* For PDF output (WeasyPrint uses @media print) */
@media print {
  a.pdf-drop-link {
    pointer-events: none;   /* disables link */
    text-decoration: none;  /* removes underline if any */
  }
}
